@font-face {
	    font-family: 'Ubuntu';
	    src: url('Ubuntu-Bold.ttf') format('truetype');
}
{
	
	#logo {
		margin-left:auto;
		margin-right:auto;
		display:block;
		margin-top:20px;
		width:109px;
		height:45px;
	}
	
	.mainContent{
		height:340px;
		width:500px;
		display:block;
		margin-left:auto;
		margin-right:auto;
		padding-top:1px;
		padding-bottom:1px;
		margin-top:5px;
	}
	.mainContent1{
		width:500px;
		height: auto !important;
		height: 340px; /* IE */
		min-height: 360px;
		margin-left:auto;
		margin-right:auto;
		margin-top:30px;
		margin-bottom:30px;
	}
	
	html { 
	  margin:0;
	  padding:0;
	  background-image: linear-gradient(to top,#677b9e,#9e817b,#9e817b,#9e817b,#677b9e);
	  background-attachment: fixed; 
	  background-size: cover; 
	  -moz-background-size: 100% 100%; /* Gecko 1.9.2 (Firefox 3.6) */
	  -o-background-size: 100% 100%; /* Opera 9.5 */
	  -webkit-background-size: 100% 100%; /* Safari 3.0 */
	  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
	  background-size: 100% 100%;
	}
	
	body {
		font-family: Ubuntu, Verdana, Arial, Helvetica, sans-serif;
		padding:0px;
		margin:0px;
		height:1px;
	}
	
	.errorMobile{
		height:60px;
	}
		
	.link {
		color:#ff582b;
	}
	
	.mainLogo {
		background-image: url('logoSGwhite.png');
		width:107px;
		height:45px;
	}
	
	#header {
		font-size: 14px;
		font-weight: bold;
		margin-left:auto;
		margin-right:auto;
		display:block;
		width:100%;
		margin-top:10px;
		color:white;
		text-align:center;
	}
	
	#title {
		font-size: 22px;
		font-weight: bold;
		color:white;
		text-align: center;
		display:none;
	}
	
	#titleId {
		padding-left:50px;
		margin-left:auto;
		margin-right:auto;
		margin-top:10px;
		display:block;
		width:300px;
		color:white;
		font-size:11px;
		text-align:center;
	}
	
	#buttonConnect{
		margin-left:auto;
		margin-right:auto;
		color:white;
		width:160px;
		background-color:#ff582b;
		border-radius:5px;
		margin-top:16px;
		cursor:pointer;
		height:28px;
		padding-top:5px;
		text-align:center;
	}
	
	#buttonConnect1{
		margin-left:auto;
		margin-right:auto;
		color:white;
		width:160px;
		background-color:#ff582b;
		border-radius:5px;
		margin-top:16px;
		cursor:pointer;
		height:42px;
		padding-top:5px;
		text-align:center;
	}
	
	.buttonOrange{
		margin-left:auto;
		margin-right:auto;
		display:block;
		color:white;
		padding:5px;
		background-color:#ff582b;
		border-radius:5px;
		margin-top:23px;
		cursor:pointer;
		text-align:center;
		text-decoration:none;
		border : 0px solid black;
		width:200px;
		height:25px;
		font-weight:bold;
	}
	
	#remember {
		margin-left:auto;
		margin-right:auto;
		margin-top:4px;
		display:block;
		width:70%;
		text-align:center;
		color:white;
		font-size:11px;
		text-align:center;
	}
	
	#forgot {
		margin-left:auto;
		margin-right:auto;
		margin-top:3px;
		display:block;
		width:115px;
		font-size:11px;
		text-align:center;
	}
	
	#titlePwd{
		padding-left:50px;
		margin-left:auto;
		margin-right:auto;
		margin-top:3px;
		display:block;
		width:300px;
		color:white;
		font-size:17px;
	}
	
	#error {
		font-size: 10px;
		display:block;
		border-radius:8px;
		width:320px;
		height:60px;
		text-align:left;
		margin-left:auto;
		margin-right:auto;
		margin-top:0px;
	}
	
	#errorTemp {
		font-size: 12px; 
		margin-left:20px; 
		margin-right:20px; 
	}
	
	#text {
		font-size: 15px;
		color:white;
		margin-left:20px; 
		margin-right:20px; 
	}
	
	.textInstructions {
		font-size: 13px;
		font-weight: normal;
	}
	
	#textTemp {
		font-size: 13px;
		margin-left:0px; 
		margin-right:0px;
	}
	
	#form {
		font-size: 16px;
		margin-left:20px; 
		margin-right:20px; 
	}
	
	.form {
		font-size: 15px;
		font-weight: bold;
	}
	
	.form_small {
		font-size: 13px;
		font-weight: normal;	
	}
	
	#links {
		font-size: 14px;
		margin-left:auto; 
		margin-right:auto;
		margin-top:10px; 
		display:block;
		width:130px;
		text-align:center;
	}
	

	.red {
		font-size: 12px;
		color: #ff582b;
	}
	
	.green {
		font-size: 15px;
		color: green;
	}
	
	#spnego.submit.id {
		width: 200px;
		font-weight: bold;
		font-size: 14px;
	}

	#emptySpace {
		height:0px;
	}

}

	
	html { 
	  margin:0;
	  padding:0;
	  background-image: linear-gradient(to top,#677b9e,#9e817b,#9e817b,#9e817b,#677b9e);
	  background-attachment: fixed; 
	  background-size: cover; 
	  -moz-background-size: 100% 100%; /* Gecko 1.9.2 (Firefox 3.6) */
	  -o-background-size: 100% 100%; /* Opera 9.5 */
	  -webkit-background-size: 100% 100%; /* Safari 3.0 */
	  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
	  background-size: 100% 100%;
	}
	
	body {
		font-family: Ubuntu, Verdana, Arial, Helvetica, sans-serif;
		padding:0px;
		margin:0px;
		height:1px;
	}
	
	#logo {
		margin-left:auto;
		margin-right:auto;
		display:block;
		margin-top:20px;
	}
	
	.mainContent{
		height:360px;
		width:700px;
		margin-left:auto;
		margin-right:auto;
		margin-top:20px;
		margin-bottom:20px;
	}
	
	.mainContent1{
		width:500px;
		height: auto !important;
		height: 380px; /* IE */
		min-height: 380px;
		margin-left:auto;
		margin-right:auto;
		margin-top:50px;
		margin-bottom:50px;
	}
	.text{
		margin-left:50px;
		margin-right:50px;
	}
		
	
	#title {
		font-size: 18px;
		font-weight: bold;
		color:white;
		display:inline-block;
		margin-left:auto;
		margin-right:auto;
		width:100%;
		margin-top:30px;
		text-align:center;
	}
	
	#error {
		font-size: 12px;
		display:block;
		border-radius:8px;
		width:380px;
		height:80px;
		text-align:left;
		margin-left:auto;
		margin-right:auto;
		margin-top:10px;
	}
	
		background-image: url(user.png);
		background-position: 10px 5px;padding-left:45px;
		background-repeat: no-repeat;
		border-radius:6px;
		width:260px;
		height:31px;
		margin-left:auto;
		margin-right:auto;
		margin-top:20px;
		display:block;
	}
		background-image: url(mail.png);
		background-position: 10px 9px;padding-left:45px;
		background-repeat: no-repeat;
		border-radius:6px;
		width:260px;
		height:31px;	
		margin-left:auto;
		margin-right:auto;
		display:block;
		margin-top:10px;
	}	
	#help {
		text-align: center;
		text-decoration: none;	
		font-size: 12px;
		margin-top:35px;
		margin-left:10px;
		margin-right:10px; 
		color:#e2eaee;
	}
		
	.errorMobile{
		height:50px;
	}
			
	.link {
		color:#ff582b;
	}
	
	.mainLogo {
		background-image: url('logoSGwhite.png');
		width:107px;
		height:45px;
	}
	
	#header {
		font-size: 19px;
		font-weight: bold;
		margin-left:auto;
		margin-right:auto;
		margin-top:20px;
		display:block;
		width:100%;
		color:white;
		text-align:center;
	}
	#footer {
		font-size: 14px;
		margin-left:auto;
		margin-right:auto;
		margin-top:0px;
		display:block;
		width:100%;
		color:white;
		text-align:center;
	}	
	#titleId {
		padding-left:20px;
		margin-left:auto;
		margin-right:auto;
		margin-top:30px;
		display:block;
		width:300px;
		color:white;
		text-align:center;
	}
	
	#buttonConnect{
		margin-left:auto;
		margin-right:auto;
		color:white;
		width:160px;
		background-color:#ff582b;
		border-radius:5px;
		margin-top:16px;
		cursor:pointer;
		height:28px;
		padding-top:5px;
		text-align:center;
	}
	
	#buttonConnect1{
		margin-left:auto;
		margin-right:auto;
		color:white;
		width:160px;
		background-color:#ff582b;
		border-radius:5px;
		margin-top:16px;
		cursor:pointer;
		height:42px;
		padding-top:5px;
		text-align:center;
	}
	
	
	.buttonOrange{
		margin-left:auto;
		margin-right:auto;
		display:block;
		color:white;
		padding:5px;
		background-color:#ff582b;
		border-radius:5px;
		margin-top:21px;
		cursor:pointer;
		text-align:center;
		text-decoration:none;
		border : 0px solid black;
		width:160px;
		height:35px;
		font-weight:bold;
	}
	
	#remember {
		margin-left:auto;
		margin-right:auto;
		margin-top:20px;
		display:block;
		width:90%;
		text-align:center;
		color:white;
		font-size:12px;
		text-align:center;
	}
	
	#forgot {
		margin-left:auto;
		margin-right:auto;
		margin-top:5px;
		display:block;
		width:130px;
		font-size:12px;
		text-align:center;
	}
	
	#titlePwd{
		padding-left:20px;
		margin-left:auto;
		margin-right:auto;
		margin-top:15px;
		display:block;
		width:300px;
		color:white;
	}
	
	#errorTemp {
		font-size: 12px; 
		margin-left:20px; 
		margin-right:20px; 
	}
	
	#text {
		font-size: 15px;
		color:white;
		margin-left:20px; 
		margin-right:20px; 
	}
	
	.textInstructions {
		font-size: 13px;
		font-weight: normal;
	}
	
	#textTemp {
		font-size: 13px;
		margin-left:0px; 
		margin-right:0px;
	}
	
	#form {
		font-size: 16px;
		margin-left:20px; 
		margin-right:20px; 
	}
	
	.form {
		font-size: 15px;
		font-weight: bold;
	}
	
	.form_small {
		font-size: 13px;
		font-weight: normal;	
	}
	
	#links {
		font-size: 14px;
		margin-left:auto; 
		margin-right:auto;
		margin-top:10px; 
		display:block;
		width:130px;
		text-align:center;
	}
	
	#logoutLink {
		margin-top:20px;
		margin-left:auto;
		margin-right:auto;
		display:block;
		width:100px;
		text-align:center;
	}
	
	.red {
		font-size: 12px;
		color: #ff582b;
	}
	
	.white {
		font-size: 13px;
		color: white;
	}
	
	.green {
		font-size: 15px;
		color: green;
	}
	
	#spnego.submit.id {
		width: 200px;
		font-weight: bold;
		font-size: 14px;
	}

	#emptySpace {
		height:20px;
	}
}