<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="head">
    </ui:define>

    <ui:define name="content">
    
		<div class="Container100 NoPadding Responsive100" 
        	style="background-color: #597E96 ;width:100%; height:100px; background-size: cover;" >
       		<ui:include src="pages/Header.xhtml"></ui:include> 			
    	</div>
	<div class="Container100 " >        
		<div class="Container20  Responsive" >
       		<ui:include src="pages/MainLeft.xhtml"></ui:include> 			
    	</div>
        <div class="Container60 Responsive" >
       		<ui:include src="pages/MainCenter.xhtml"></ui:include> 			
    	</div>
        <div class="Container20 Responsive" >
       		<ui:include src="pages/MainRight.xhtml"></ui:include> 
    	</div>
    </div>
    </ui:define>

</ui:composition>