<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pa="http://primefaces.org/atlas">

    <h:form id="menuform">

        <div id="layout-menu-cover">
            <pa:menu id="layout-menu">
                <p:submenu id="pa_dashboards" label="Atlas Dashboards" icon="icon-network">
                    <p:menuitem id="pa_pro_page" value="Your Promotion Page" icon="icon-network" outcome="/promotion-page"/>
                    <p:menuitem id="pa_db_v" value="Atlas Dashboard 1" icon="icon-gauge" outcome="/dashboard"/>
                    <p:menuitem id="pa_db_v1" value="Atlas Dashboard 2" icon="icon-gauge" outcome="/dashboard2"/>
                </p:submenu>
                <p:submenu id="pa_menuopt" label="Menu And Color Options" icon="icon-colours">
                    <p:menuitem id="pa_red" url="#" value="Red Topbar" icon="icon-drop" onclick="Atlas.changeBodyClass('RedTopbar');return false;"/>
                    <p:menuitem id="pa_blue" url="#" value="Blue Topbar" icon="icon-drop" onclick="Atlas.changeBodyClass('BlueTopbar');return false;"/>
                    <p:menuitem id="pa_teal" url="#" value="Teal Topbar" icon="icon-drop" onclick="Atlas.changeBodyClass('TealTopbar');return false;"/>
                    <p:menuitem id="pa_green" url="#" value="Green Topbar" icon="icon-drop" onclick="Atlas.changeBodyClass('GreenTopbar');return false;"/>
                    <p:menuitem id="pa_orange" url="#" value="Orange Topbar" icon="icon-drop" onclick="Atlas.changeBodyClass('OrangeTopbar');return false;"/>
                    <p:menuitem id="pa_leaden" url="#" value="Leaden Topbar" icon="icon-drop" onclick="Atlas.changeBodyClass('LeadenTopbar');return false;"/>
                    <p:menuitem id="pa_yellow" url="#" value="Yellow Topbar" icon="icon-drop" onclick="Atlas.changeBodyClass('YellowTopbar');return false;"/>
                    <p:menuitem id="pa_purple" url="#" value="Purple Topbar" icon="icon-drop" onclick="Atlas.changeBodyClass('PurpleTopbar');return false;"/>
                    <p:menuitem id="pa_top_menu" url="#" value="Default Menu" icon="icon-grid" onclick="Atlas.changeBodyClass('');return false;" />
                    <p:menuitem id="pa_popup_menu" url="#" value="Popup Menu Option" icon="icon-text-document-inverted" onclick="Atlas.changeBodyClass('PopupMenu');return false;"/>
                </p:submenu>
                <p:submenu id="pa_theme" label="Atlas Theme" icon="icon-leaf">
                    <p:menuitem id="pa_sample" value="Sample Page" icon="icon-key" outcome="/sample" />
                    <p:menuitem id="pa_forms" value="Form Elements" icon="icon-text-document" outcome="/forms" />
                    <p:menuitem id="pa_data" value="Data Components" icon="icon-archive" outcome="/data" />
                    <p:menuitem id="pa_datatable" value="DataTable" icon="icon-sweden" outcome="/datatable" />
                    <p:menuitem id="pa_panels" value="Panels" icon="icon-news" outcome="/panel" />
                    <p:menuitem id="pa_overlays" value="Overlays" icon="icon-publish" outcome="/overlay" />
                    <p:menuitem id="pa_menus" value="Menus" icon="icon-text-document" outcome="/menu" />
                    <p:menuitem id="pa_messages" value="Messages" icon="icon-bell" outcome="/messages" />
                    <p:menuitem id="pa_fileupload" value="FileUpload" icon="icon-folder-images" outcome="/file" />
                    <p:menuitem id="pa_charts" value="Charts" icon="icon-line-graph" outcome="/charts" />
                    <p:menuitem id="pa_misc" value="Misc" icon="icon-sound" outcome="/misc" />
                </p:submenu>
                <p:submenu id="pa_default" label="Default Pages" icon="icon-tv">
                    <p:menuitem id="pa_empty" value="Empty Page" icon="icon-browser" outcome="/empty-page" />
                    <p:menuitem id="pa_login" value="Login Page" icon="icon-key" outcome="/login" />
                    <p:menuitem id="pa_error" value="Error Page" icon="icon-uninstall" outcome="/error" />
                    <p:menuitem id="pa_404" value="404 Page" icon="icon-address" outcome="/404" />
                    <p:menuitem id="pa_access" value="Access Denied Page" icon="icon-add-user" outcome="/access-denied" />
                </p:submenu>
                <p:submenu id="pa_hierarchy" label="Menu Hierarchy" icon="icon-folder">
                    <p:submenu id="pa_sm1" label="Submenu 1" icon="icon-plus">
                        <p:submenu id="pa_sm11" label="Submenu 1.1" icon="icon-plus">
                            <p:menuitem id="pa_lnk111" value="Link 1" icon="icon-link" url="#" />
                            <p:menuitem id="pa_lnk112" value="Link 2" icon="icon-link" url="#" />
                            <p:menuitem id="pa_lnk113" value="Link 3" icon="icon-link" url="#" />
                        </p:submenu>
                        <p:submenu id="pa_sm12" label="Submenu 1.2" icon="icon-plus">
                            <p:submenu id="pa_sm121" label="Submenu 1.2.1" icon="icon-plus">
                                <p:menuitem id="pa_lnk1211" value="Link 1" icon="icon-link" url="#" />
                                <p:menuitem id="pa_lnk1212" value="Link 2" icon="icon-link" url="#" />
                                <p:menuitem id="pa_lnk1213" value="Link 3" icon="icon-link" url="#" />
                            </p:submenu>
                        </p:submenu>
                    </p:submenu>
                    <p:submenu id="pa_sm2" label="Submenu 2" icon="icon-plus">
                        <p:menuitem id="pa_lnk21" value="Link 1" icon="icon-link" url="#" />
                        <p:menuitem id="pa_lnk22" value="Link 2" icon="icon-link" url="#" />
                    </p:submenu>
                </p:submenu>
                <p:menuitem id="pa_icons" value="Font Icons" icon="icon-archive" outcome="/font-icons" />
                <p:submenu id="pa_docs" label="Documentation" icon="icon-lifebuoy">
                    <p:submenu id="pa_docs_core" label="Core CSS Docs" icon="icon-book">
                        <p:menuitem id="rm_docs_1" value="Installation" icon="icon-gist" outcome="/docs/core/installation" />
                        <p:menuitem id="rm_docs_2" value="Menus" icon="icon-gist" outcome="/docs/core/menus" />
                        <p:menuitem id="rm_docs_3" value="Responsive Mode" icon="icon-gist" outcome="/docs/core/responsive-mode" />
                        <p:menuitem id="rm_docs_4" value="ContainerX" icon="icon-gist" outcome="/docs/core/containerx" />
                        <p:menuitem id="rm_docs_30" value="Flex Boxes" icon="icon-gist" outcome="/docs/core/flex" />
                        <p:menuitem id="rm_docs_5" value="WidX" icon="icon-gist" outcome="/docs/core/widx" />
                        <p:menuitem id="rm_docs_6" value="Selection" icon="icon-gist" outcome="/docs/core/selection" />
                        <p:menuitem id="rm_docs_7" value="Visibility" icon="icon-gist" outcome="/docs/core/visibilities" />
                        <p:menuitem id="rm_docs_8" value="Displaying" icon="icon-gist" outcome="/docs/core/displaying" />
                        <p:menuitem id="rm_docs_9" value="Positioning" icon="icon-gist" outcome="/docs/core/positioning" />
                        <p:menuitem id="rm_docs_10" value="Underline" icon="icon-gist" outcome="/docs/core/underline" />
                        <p:menuitem id="rm_docs_11" value="Floating" icon="icon-gist" outcome="/docs/core/floating" />
                        <p:menuitem id="rm_docs_12" value="Overflows" icon="icon-gist" outcome="/docs/core/overflows" />
                        <p:menuitem id="rm_docs_13" value="Empty Boxes" icon="icon-gist" outcome="/docs/core/empty-boxes" />
                        <p:menuitem id="rm_docs_14" value="Opacity" icon="icon-gist" outcome="/docs/core/opacity" />
                        <p:menuitem id="rm_docs_15" value="Text Aligning" icon="icon-gist" outcome="/docs/core/text-aligning" />
                        <p:menuitem id="rm_docs_16" value="Box Sizing" icon="icon-gist" outcome="/docs/core/box-sizing" />
                        <p:menuitem id="rm_docs_17" value="Font Size" icon="icon-gist" outcome="/docs/core/font-size" />
                        <p:menuitem id="rm_docs_18" value="Font Weights" icon="icon-gist" outcome="/docs/core/font-weights" />
                        <p:menuitem id="rm_docs_19" value="Transitions" icon="icon-gist" outcome="/docs/core/transitions" />
                        <p:menuitem id="rm_docs_27" value="Paddings" icon="icon-gist" outcome="/docs/core/paddings" />
                        <p:menuitem id="rm_docs_28" value="Zoom Effects" icon="icon-gist" outcome="/docs/core/zoom-effects" />
                    </p:submenu>
                    <p:submenu id="pa_docs_layout" label="Layout CSS Docs" icon="icon-book">
                        <p:menuitem id="rm_docs_20" value="LESS" icon="icon-gist" outcome="/docs/layout/less" />
                        <p:menuitem id="rm_docs_21" value="Cards" icon="icon-gist" outcome="/docs/layout/cards" />
                        <p:menuitem id="rm_docs_22" value="Text Colors" icon="icon-gist" outcome="/docs/layout/text-colors" />
                        <p:menuitem id="rm_docs_23" value="Background Colors" icon="icon-gist" outcome="/docs/layout/background-colors" />
                        <p:menuitem id="rm_docs_25" value="Separators" icon="icon-gist" outcome="/docs/layout/separators" />
                        <p:menuitem id="rm_docs_26" value="Effects" icon="icon-gist" outcome="/docs/layout/effects" />
                        <p:menuitem id="rm_docs_29" value="Font Families" icon="icon-gist" outcome="/docs/layout/font-families" />
                    </p:submenu>
                </p:submenu>
            </pa:menu>
        </div>
    </h:form>

</ui:composition>