<ui:composition 

    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    

        <!-- LAYOUT TOPBAR COVER -->
        <div id="layout-topbar-cover">

            <div id="layout-topbar">
                <a href="dashboard.xhtml" id="logo"><h:graphicImage name="images/logo.svg" library="atlas-layout" /></a>
                <a id="menu-button"><i class="icon-menu"></i></a>

                <a id="topmenu-button"><i class="icon-dots-three-horizontal"></i></a>

                <ul id="topbar-menu">
                    <li><a href="#"><i class="icon-archive"></i><span class="tb-menu-text"> Archive</span></a></li>
                    <li><a href="#"><i class="icon-flag"></i><span class="tb-menu-text"> Checkpoints</span></a></li>
                    <li><a href="#"><i class="icon-bell"></i><span class="tb-menu-text"> Alerts</span><span class="bubble animated rubberBand">13</span></a></li>
                    <li><a href="#"><i class="icon-magnifying-glass"></i><span class="tb-menu-text"> Search Page</span></a></li>
                    <li><a href="#"><i class="icon-users"></i><span class="tb-menu-text"> Welcome, Skywalker</span></a></li>
                </ul>
            </div>

        </div>
    
</ui:composition>
