.ui-panel {
	background-color: #C2CCDA !important;
}
.ui-panel .ui-panel-titlebar {
	background-color : #457784 !important;
	color: #FFFFFF;
	font-size:12px !important;
}
.ui-dialog .ui-dialog-titlebar {
	background-color : #457784 !important;
	color: #FFFFFF;
}
.ui-dialog .ui-dialog-content {
	padding:5px !important;
}
.ui-datalist {
	background-color : transparent !important;
	border :none !important;
}
.ui-datalist .ui-datalist-content .ui-datalist-data {
	padding-top : 1px;
	padding-bottom :1px;
}

.ui-datalist .ui-datalist-item {
	padding-top : 0px;
	padding-bottom :0px;
}
.ui-overlaypanel .ui-overlaypanel-content {
	padding: 4px !important;
}
.ui-panel .ui-panel-content {
	padding: 0px !important;
}
.ui-inputfield {
	font-size:12px !important
}
.ui-outputlabel {
	font-size:12px !important
}
.ui-datatable table thead tr th, .ui-datatable table tfoot tr td, .ui-datatable table thead tr th {
	font-size:12px !important
}
.ui-datalist .ui-paginator-top {
	background-color: #457784;
}
.ui-datalist .ui-paginator-bottom {
	background-color: #457784;
}
.PortalMenuButton .ui-button-text {
  background-color: #ffffff;
  color: #457784;
  text-align: left;
  font-size:11px !important;
  padding : 2px 20px 2px 20px !important;
}
.PortalMenuButton.ui-state-hover .ui-button-text,
.PortalMenuButton.ui-state-focus .ui-button-text {
  background-color: #BECBD4 !important;
}
.PortalMenuButton.ui-state-active .ui-button-text {
  background-color: #ECEFF1 !important;
}
.ui-growl-item-container {
	padding: 0px;
}
.SeparatorDot5 {
  border-bottom: dashed 1px #cccccc;
  width: 100%;
  overflow: hidden;
  height: 0px;
  margin: 5px 0px;
  clear: both;
}
.SeparatorDotFull {
  border-bottom: dashed 1px #cccccc;
  display: block;
  overflow: hidden;
  height: 0px;
  margin: 15px -25px;
  clear: both;
}

