<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">


<div class="ui-g">
<div class="ui-g-2">
    <div class="Container80 TexAlCenter" style="margin-top: 15px;" >
		<h:outputLink value="http://www.tadmar.pl" target="_blank" >
			<h:graphicImage name="tadmar_aktualny_white.png" library="gfx" style="width:100px; height:auto;" />
		</h:outputLink>
		<span>                              </span>
	</div>

</div>
<div class="ui-g-9">
	<div class="Container100 Responsive100">
    	<div class="Container100 ui-fluid" style="padding:0px !important">
			<p:panelGrid columns="5" styleClass="Wid100 Opac50" type="grid" style="padding:0px;">
			    <p:panel id="tasksLabel" prependId="false" style="width:150px;opacity:1;">
			    <p:button target="_blank" href="http://bit.tdm.local/mobMenu/workflowD.jsf" value="Flownet" icon="fa fa-bell Fs16 White"
			    	styleClass="Wid10 FontDosisSemiBold LeadenButton White Fs20" 
			    	style="width:87%;display:inline;opacity:1 !important;"  >
			    	<span class="bubble animated rubberBand Fs14 RedBack White" >
			    		<span class="Fs12" style="padding:2px;">#{MainCtrl.taskNo}</span></span>
				</p:button>
				</p:panel>
			    <p:button target="_blank" href="http://bit.tdm.local/PortalAdd/ad.jsf" value="Pracownicy"
			    	icon="fa fa-user" styleClass="Opac100 Wid10 FontDosisSemiBold LeadenButton White Fs20" 
			    	style="width:95%;"/>	
				<h:outputText value="#{MainCtrl.clientId}" styleClass="Wid20 FontDosisSemiBold" />
				<h:outputText value="IP: #{MainCtrl.clientIp}" styleClass="Wid30 FontDosisSemiBold" />
				<p:clock pattern="yyyy-MM-dd HH:mm" styleClass="Wid40 FontBold" />
			</p:panelGrid>
		</div>
	<div class="Container100 TexAlCenter White FontDosisSemiBold Opac90" >
		<i class="icon-slideshare Fs25 DispBlock FontArialSemiBold"><span >
		   </span><span class="Fs25 " style="font-family: Arial">    BIT  </span><span class="Fs15" style="font-family: Arial;">Baza informacji Tadmaru</span></i>
	</div>
    </div>
    </div>
    <div class="ui-g-1">
	<div class="Container50 White TexAlCenter" >
		<span class="Fs11" style="background-color: #597E96">ver 2.1</span>
	</div>
    </div>
</div>
	<p:poll id="startPoll" widgetVar="wvarStartPoll" oncomplete="PF('wvarStartPoll').stop();" 
    	listener="#{MainCtrl.onRefreshTaskData}" update="tasksLabel" interval="10">
    </p:poll>

</ui:composition>