<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>Oi</title>
    </h:head>

    <h:body style="background-color: #fbfcfd">
        <h:outputStylesheet name="css/core-layout.css" library="atlas-layout"/>
        <h:outputStylesheet name="css/animate.css" library="atlas-layout" />
        <h:outputStylesheet name="css/font-awesome.css" library="atlas-layout" />
        <h:outputStylesheet name="css/atlas-font.css" library="atlas-layout" />
        <h:outputStylesheet name="css/atlas-layout.css" library="atlas-layout" />
        <h:outputStylesheet name="css/tmatlas.css" library="atlas-layout" />
	<h:form id="idfrmMain" prependId="false">
	    <div class="Container33 Responsive50 Flex">
        	<div class="Card BoldLeadenBack SoftGray TexAlCenter HoverEffect ui-fluid">
            	<i class="fa fa-refresh Fs40 DispBlock"></i>
                <div class="EmptyBox10"></div>
                	Niepoprawne dane użytkownika - zgłoś w Mantis
                <div class="EmptyBox10"></div>
            </div>
    	</div>
	</h:form>
    </h:body>
</html>
