<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

	<div class="Container100" >
		<div class="EmptyBox10" ></div>

		<p:dataList id="maiRightDl1" prependId="false" value="#{MainCtrl.pmenuR1List}" var="varPmenuRList" 
			paginator="false" type="definition" emptyMessage="Brak" >
			<div class="Card ShadowEffect LeadenBack White TexAlCenter HoverEffect" 
				style="padding:0.4rem !important;" >
					<h:outputText value="#{varPmenuRList.pmstxt}" styleClass="Opac80 Fs12"/>
					<div class="EmptyBox10"></div>
					<div class="SeparatorDot5" />
					<div>
						<p:button target="_blank" href="#{varPmenuRList.pmlink}" value="Więcej" 
	                		icon="fa fa-sign-in" styleClass="GrayButton " />
                	</div>	
			</div>
			<div class="EmptyBox5" />
		</p:dataList>
		<div class="SeparatorDot5" />
		<p:dataList id="maiRightDl0" prependId="false" value="#{MainCtrl.pmenuR0List}" var="varPmenuRList" 
			paginator="false" type="definition" emptyMessage="Brak" >
			<div class="Card ShadowEffect LeadenBack White TexAlCenter HoverEffect" 
				style="padding:0.4rem !important; ">
					<h:outputText value="#{varPmenuRList.pmstxt}" styleClass="Opac80 Fs12"/>
					<div class="EmptyBox10"></div>
					<div class="SeparatorDot5" />
					<div>
						<p:commandButton value="Więcej" icon="fa fa-sign-in" styleClass="GrayButton " 
							action="#{MainCtrl.onRightMenu}" update="idMainCenterAddMenu"
						/>
                	</div>	
			</div>
			<div class="EmptyBox5" />
		</p:dataList>		
	</div>
</ui:composition>