<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui">

	<div class="Container100" >
		<p:dataList id="maiLeftDl" prependId="false" value="#{MainCtrl.pmenuFavList}" var="favList" type="definition" emptyMessage="Brak" >
			<p:panel toggleable="true" toggleSpeed="500" collapsed="true" >
				<f:facet name="header" style="background-color:#457784 !important;">
						<span style="font-family:arial; font-size:13px;">#{favList.pmheader.pmname}</span>
				</f:facet>
				<div class="EmptyBox5" />
				<p:commandButton id="favToolsBtn" icon="fa fa-wrench" styleClass="Fs16 White FRight" 
					oncomplete="PF('wvarMainLeftDlg').show()" update="mainLeftFavDt mainLeftFavDg" 
					actionListener="#{MainCtrl.onfavToolsBtnRefresh}" />
				<p:commandButton id="favToolsBtnRefresh" icon="fa fa-refresh" styleClass="Fs16 White FRight" 
					actionListener="#{MainCtrl.onfavToolsBtnRefresh}" update="maiLeftDl" />
				<div class="EmptyBox5" />
				<p:dataList value="#{favList.pmline}" var="favLineList" type="definition" emptyMessage="Brak" >
					<p:button target="_blank" href="#{favLineList.pmlink}" value="#{favLineList.pmname}"
						styleClass="PortalMenuButton " style="width:100% ;"/>
				</p:dataList>
			</p:panel>			
		</p:dataList>
		
		<p:dataList value="#{MainCtrl.pmenuAllList}" var="headList" type="definition" emptyMessage="Brak" >
			<p:panel toggleable="true" toggleSpeed="500" >
				<f:facet name="header" style="background-color:#457784 !important;">
					<span style="font-family:arial; font-size:13px;">#{headList.pmheader.pmname}</span>
				</f:facet>
				<p:dataList value="#{headList.pmline}" var="lineList" type="definition" emptyMessage="Brak" 
					style="background-color:white !important; font-family:arial !important; padding:2px 20px 2px 20px !important; " >
					<h:commandLink value="#{lineList.pmname}" 
						style="width:100% ; font-size:12px !important; color:black;"
						action="#{MainCtrl.onWebLinkShow}" target="_blank" >
						<f:param name="pmlink" value="#{lineList.pmlink}" />
					</h:commandLink>
				</p:dataList>
			</p:panel>			
		</p:dataList>
	</div>
	<p:dialog id="idMainLeftDlg" widgetVar="wvarMainLeftDlg" responsive="true" resizable="true" 
		fitViewport="true" closeOnEscape="true" >
		<f:facet name="header" >
			Konfiguracja Ulubione
		</f:facet>
		<ui:include src="MainLeftFav.xhtml"></ui:include> 			
	</p:dialog>

</ui:composition>