<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml" >

	<div style="font-size:24px; color: blue" >
		MainCtrl_pmenuLinkFiles
    </div>
    <p>Skopiuj link powyzej w okienku adresu strony</p>

</ui:composition>