<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

	<div class="Container100">

<p:panel id="idMainCenterAddMenu" prependId="false" style="background-color:transparent !important; border:none !important;">
	<div class="Container100">

		<p:dataList value="#{MainCtrl.menuSalesCentralList}" var="headList" type="definition" emptyMessage="Brak" 
			rendered="#{MainCtrl.menuSalesCentral}"  >
			<p:panel toggleable="true" toggleSpeed="500" style="width:100% !important;">
				<f:facet name="header" style="background-color:#457784 !important;">
						#{headList.pmheader.pmname}
				</f:facet>
				<p:dataList value="#{headList.pmline}" var="lineList" type="definition" emptyMessage="Brak" >
					<p:button target="_blank" href="#{lineList.pmlink}" value="#{lineList.pmname}"
						styleClass="PortalMenuButton " style="width:100% ;"/>
				</p:dataList>
			</p:panel>			
		</p:dataList>
	
		<p:dataList id="maiCentDl" prependId="false" value="#{MainCtrlApp.pmenuCList}" var="varPmenuCList" 
			paginator="true" rows="3" type="definition" emptyMessage="Brak" >
			<div class="Card BlueLeadenBack SoftGray TexAlCenter ui-fluid" 
				style="width:100% !important; padding-bottom:0.1rem !important;">
                <i class="icon-dropbox Fs30 DispBlock"><span class="Fs16">#{varPmenuCList.pmname}</span></i>
                <div class="TexAlLeft" >
					<h:outputText value="#{varPmenuCList.pmrgin} | " styleClass="Fs10" />                	
					<h:outputText value="#{varPmenuCList.pmrgdt}" styleClass="Fs10" >
						<f:convertDateTime pattern="yyyy-MM-dd" />
					</h:outputText>               	
                </div>
				<div class="SeparatorDot5" />
                <div class="Container80 NoPadding Responsive100">
					<h:graphicImage value="#{varPmenuCList.pmatch}" style="width:100%;"  />  
				</div>
				<div class="Container20 NoPadding Responsive100">
	                <span class="Fs12">#{varPmenuCList.pmstxt}</span>
				</div>
                <div class="EmptyBox5"></div>
				<div class="SeparatorDot5" />
				<div class="Container100 Opac100 " >
                <p:button target="_blank" href="#{varPmenuCList.pmlink}" value="Więcej" 
                	icon="fa fa-sign-in" styleClass="GrayButton FLeft"  style="width: 100px !important"/>
                </div>	
            </div>
            <div class="EmptyBox10" />
		</p:dataList>
		<p:commandButton value = "Odśwież" icon="fa fa-refresh" class="White"
			action="#{MainCtrlApp.onPmenuCSearch}" update="maiCentDl" />
	</div>
	</p:panel>
	</div>
</ui:composition>