<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

	<p:panel prependId="false">
	<p:toolbar >
			<f:facet name="left">
				<p:commandButton icon="fa fa-folder-open" value="Nowy" styleClass="White" 
					action="#{ReportsCtrl.onFavListNew}" update="mainLeftFavDg" />
				<p:commandButton icon="fa fa-save" value="Zapisz" styleClass="White" 
					action="#{ReportsCtrl.onFavListSave}" update="mainLeftFavDt mainLeftFavDg maiLeftDl" />
				<p:commandButton icon="fa icon-circle-with-cross" value="Usuń" styleClass="RedButton White" 
					action="#{ReportsCtrl.onFavListRemove}" update="mainLeftFavDt mainLeftFavDg maiLeftDl" />
			</f:facet>
	</p:toolbar>	
	<div class="ui-fluid">
		<p:panelGrid id="mainLeftFavDg" columns="6" columnClasses="ui-grid-col-2, ui-grid-col-4, ui-grid-col-2, ui-grid-col-6 , ui-grid-col-2, ui-grid-col-2" layout="grid" 
						styleClass="ui-panelgrid-blank SoftGrayBack" >
					<p:outputLabel value="Nazwa" />
					<p:inputText value="#{ReportsCtrl.pmenuF.pmname}" />
					<p:outputLabel value="Adres" />
					<p:inputText value="#{ReportsCtrl.pmenuF.pmlink}" />
					<p:outputLabel value="Poz" />
					<p:inputText value="#{ReportsCtrl.pmenuF.pmprio}" />
		</p:panelGrid>
	</div>
	<p:dataTable id="mainLeftFavDt" value="#{ReportsCtrl.pmenuFList}" var="varPmenuFList" widgetVar="wvarvarPmenuFList"
			selectionMode="single" selection="#{ReportsCtrl.pmenuFSelected}" rowKey="#{varPmenuFList.pmunid}" 
			paginator="false" rows="10" emptyMessage="Brak danych"	style="min-height:250px;" 
			tableStyle="table-layout:auto;"	 reflow="true" >
		<p:ajax event="rowSelect" listener="#{ReportsCtrl.onFavListSelect}" update="mainLeftFavDg" />   
		<p:column headerText="Nazwa" sortBy="#{varPmenuFList.pmname}" >
			<h:outputText value="#{varPmenuFList.pmname}"	/>
		</p:column>	
		<p:column headerText="Adres" sortBy="#{varPmenuFList.pmlink}" >
			<h:outputText value="#{varPmenuFList.pmlink}"	/>
		</p:column>	
		<p:column headerText="Poz" sortBy="#{varPmenuFList.pmprio}" >
			<h:outputText value="#{varPmenuFList.pmprio}"	/>
		</p:column>	
	</p:dataTable>
	</p:panel>
</ui:composition>