<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

	<div class="Container100">
		<p:dataList id="maiLeftDl" prependId="false" value="#{ReportsCtrl.pmenuFavList}" var="favList" type="definition" emptyMessage="Brak" >
			<p:panel toggleable="true" toggleSpeed="500" collapsed="true">
				<f:facet name="header" style="background-color:#457784 !important;">
					<span style="font-family:arial; font-size:13px;">#{favList.pmheader.pmname}</span>
				</f:facet>
				<div class="EmptyBox5" />
				<p:commandButton id="favToolsBtn" icon="fa fa-wrench" styleClass="Fs16 White FRight" 
					oncomplete="PF('wvarMainLeftDlg').show()" update="mainLeftFavDt mainLeftFavDg" 
					actionListener="#{ReportsCtrl.onfavToolsBtnRefresh}" />
				<p:commandButton id="favToolsBtnRefresh" icon="fa fa-refresh" styleClass="Fs16 White FRight" 
					actionListener="#{ReportsCtrl.onfavToolsBtnRefresh}" update="maiLeftDl" />
				<div class="EmptyBox5" />
				<p:dataList value="#{favList.pmline}" var="favLineList" type="definition" emptyMessage="Brak" >
					<p:button target="_blank" href="#{favLineList.pmlink}" value="#{favLineList.pmname}"
						styleClass="PortalMenuButton " style="width:100% ;"/>
				</p:dataList>
			</p:panel>			
		</p:dataList>
		
		<p:dataList value="#{ReportsCtrl.pmenuAllList}" var="headList" type="definition" emptyMessage="Brak" >
			<p:panel toggleable="true" toggleSpeed="500" >
				<f:facet name="header" style="background-color:#457784 !important;">
					<span style="font-family:arial; font-size:13px;">#{headList.pmheader.pmname}</span>
				</f:facet>
				<p:dataList value="#{headList.pmline}" var="lineList" type="definition" emptyMessage="Brak" >
					<p:button target="_blank" href="#{lineList.pmlink}" value="#{lineList.pmname}"
						styleClass="PortalMenuButton " style="width:100% ;"/>
				</p:dataList>
			</p:panel>			
		</p:dataList>
	</div>
	<p:dialog id="idMainLeftDlg" widgetVar="wvarMainLeftDlg" responsive="true" resizable="true" 
		fitViewport="true" closeOnEscape="true" >
		<f:facet name="header" >
			Konfiguracja Ulubione
		</f:facet>
		<ui:include src="ReportsLeftFav.xhtml"></ui:include> 			
	</p:dialog>

</ui:composition>